# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Python Cache
*.pyc

# Rudy Script
scripts/rudy/gb_lib.c
scripts/rudy/rudy
scripts/rudy/rudy.c
scripts/rudy/graphs/*
.vscode/settings.json
